<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="taxesCollect.Schedule" value="0 0 16 ? * SAT *"/>
        <add key="predictionsRefresh.Schedule" value="0 0 8 ? * SAT *"/>
        <add key="currentSummaries.Schedule" value="0 0,5,10,15,20,25,30,35,40,45,50,55 * ? * * *"/>
        <add key="currentStocks.Schedule" value="0 * 8-23 ? * * *"/>
        <add key="transactionsMonitor.Schedule" value="0 * 8-23 ? * * *"/>

        <add key="taxesCollect.Interval" value="7d"/>
        <add key="predictionsRefresh.Interval" value="7d"/>
        <add key="currentSummaries.Interval" value="2m"/>
        <add key="currentStocks.Interval" value="1m"/>
        <add key="transactionsMonitor.Interval" value="1m"/>
    </appSettings>
</configuration>